body {
  font-family: Arial, sans-serif;
  background-image: url('bgresponsi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  background-color: #ffffff9c; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#display {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #5f6061;
  color: white;
  cursor: pointer;
}

.status {
  margin-top: 15px;
  color: #555;
  font-style: italic;
}
